@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-color: #ffffff;
	--dark-color: #000000;
	--accent-color: #733f7a;
	--text-color:#62615c;
}

body {
	@apply font-didact;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-oswald;
}

body p {
	color: var(--text-color);
}
